# GCP project that pays for BigQuery queries
GCP_BILLING_PROJECT=your-gcp-project-id
RAW_DATA_PATH="DIRECTORY TO THE FOLDER THAT CONTAINS RAW DATA"
DATASETS_DIR="DIRECTORY TO THE FOLDER WHERE YOU WANT TO SAVE THE FINAL DATASETS FOR PIPELINES"