# Project-specific: snsitive data & outputs

# Data 
data/
.secrets/
.env
.config
scripts/information_extraction/medications_on_admission/data/
scripts/information_extraction/medications_on_discharge/data/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Outputs
*.parquet
*.csv

mlruns/
outputs/
EOF
old/