# Project-specific: snsitive data & outputs

# Data 
data/
config/
.secrets/
.env
.config
scripts/3_information_extraction/3_2_medications_on_admission/data/
scripts/3_information_extraction/medications_on_discharge/data/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Outputs
*.parquet
*.csv

mlruns/
outputs/
EOF
old/

scripts/3_information_extraction/3_2_medications_on_admission/prompts/few_shot/few_shot_prompt_2_annotations_examples.json